body {
	background: linear-gradient(135deg);
	justify-content: center;
	align-items: center;
	position: center;
	width: 75%;
	font-family: arial;
	transition: all 0.5s ease;
	display: flex;
}
form {
	border: 2px solid;
	padding: 10PX 15PX;
	border-radius: 20px;
	background-color: orange;
}
form:hover {
	transform: scale(1.02);
	background-color: green;
	transition: all 0.9s ease;
	box-shadow: 0 0 35px rgba(59, 130, 246, 0.8);
}
input {
	border-radius: 10px;
	widht: 100%;
	padding: 15px;
	border: 2px;
	margin-top: 15px;
	margin-buttom: 10px;
	font-size: 15px;
	color: chocolate;
	background-color: black;
	transition: all 0.9s ease;
	transform: scale(1.15);
	font-family: times new roman solid;
	font-weight: bold;
	text-align: center;
}
input:hover{
	background-color: beige;
	box-shadow: 0 0 10px rgba(350, 350, 250, 0.8);
	transform: scale(1.3);
}
label{
	font-size: 14px;
	color: aqua;
	font-weight: bold;
}
button{
	padding: 15px;
	border-radius: 20px;
	background-color: red;
	font-weight: bold;
	color: white;
}
button:hover{
	box-shadow: 0 0 60px aqua;
}
select, option{
	border-radius: 10px;
	font-weight: bold;
	color: blue;
}